<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Practica 2</title>
    <th:block th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/vis-network.min.js"></script>
        <script src="https://unpkg.com/vis-network@9.1.2/dist/vis-network.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/bootstrap-5.3.3.css}" href="css/bootstrap-5.3.3.css" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
        <!-- <link rel="icon" th:href="@{/img/favicon.ico}" href="/img/favicon.ico" type="image/x-icon"> -->
    </th:block>
</head>

<body>
    Head fragment - rest intentionally left empty.
</body>

</html>