<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: header}"></th:block>
    <title>Practica 3</title>
  </head>
  <script src="/js/script.js"></script>

  <body>
    <header class="text-center bg-danger p-5 text-light">
      <h1>Métodos de Clasificación</h1>
      <h4>Ingeniería del Conocimiento - UCM</h4>
    </header>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container text-center cuerpo">
      <h2>Bienvenid@ a nuestro simulador sobre los métodos de Clasificación</h2>
      <p>
        Eliga uno de los siguientes algoritmos para realizar la clasificación
        del archivo Iris2Clases.txt
      </p>
      <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="/bayes" class="btn btn-primary">Clasificador Bayes</a>
        <a href="/kmedias" class="btn btn-success"
          >Clasificador de las Medias</a
        >
        <a href="/lloyd" class="btn btn-warning">Algoritmo de Lloyd</a>
      </div>
    </div>
    <footer th:replace="~{fragments/footer :: foot}"></footer>
  </body>
</html>
