<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-theme="dark">
  <head>
    <th:block th:replace="~{fragments/head :: header}"></th:block>
    <title>Práctica 3</title>
  </head>
  <script src="/js/script.js"></script>

  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="text-center cuerpo">
      <h2>Bienvenid@ a nuestro simulador sobre los métodos de Clasificación</h2>
      <p>
        Eliga uno de los siguientes algoritmos para realizar la clasificación
        del archivo Iris2Clases.txt
      </p>
      <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="/bayes" class="btn btn-primary">Clasificador Bayes</a>
        <a href="/kmedias" class="btn btn-success"
          >Clasificador de K-Medias Fuzzy</a
        >
        <a href="/lloyd" class="btn btn-warning">Algoritmo de Lloyd</a>
      </div>
    </div>
    <footer th:replace="~{fragments/footer :: foot}"></footer>
  </body>
</html>
