<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-theme="dark">

<head>
    <th:block th:replace="~{fragments/head :: header}"></th:block>
    <title>Práctica 3</title>
</head>
<script src="/js/script.js"></script>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container cuerpo">
        <div class="text-center">
            <h4 class="font-semibold text-lg">Parámetros de inicialización:</h4>
            <p style="text-align: center;">
              \[
              v =
              \begin{bmatrix}
              4.6 & 3.0 & 4.0 & 0.0 \\\\
              6.8 & 3.4 & 4.6 & 0.7
              \end{bmatrix}
              \]
          </p>
            <p>
              <strong>ε:</strong> 0.01 &nbsp;&nbsp;
              <strong>b:</strong> 2 &nbsp;&nbsp;
              
            </p>
          </div>

        <form action="/clasificar-k-medias" method="post" class="mx-auto text-center justify-center">
            <div class="flex mx-auto justify-center">
                <label class="floating-label m-3">
                    <input type="text" placeholder="Tolerancia = 0.01" class="input input-lg" />
                    <span>Tolerancia</span>
                </label>
                <label class="floating-label m-3">
                    <input type="text" placeholder="Peso exponencial = 2" class="input input-lg" />
                    <span>Peso exponencial</span>
                </label>

            </div>
            <div class="flex justify-center">
                <label class="floating-label m-3">
                    <input type="text" placeholder="X1" class="input input-lg validator" required />
                    <span>X1</span>
                    <p class="validator-hint">Introduce valores numéricos</p>
                </label>

                <label class="floating-label m-3">
                    <input type="double" placeholder="X2" class="input input-lg validator" required />
                    <span>X2</span>
                    <p class="validator-hint">Introduce valores numéricos</p>
                </label>
                <label class="floating-label m-3">
                    <input type="text" placeholder="X3" class="input input-lg validator" required />
                    <span>X3</span>
                    <p class="validator-hint">Introduce valores numéricos</p>
                </label>
                <label class="floating-label m-3">
                    <input type="text" placeholder="X4" class="input input-lg validator" required />
                    <span>X4</span>
                    <p class="validator-hint">Introduce valores numéricos</p>
                </label>

            </div>
            <button type="submit" class="btn btn-primary col-1">Buscar Solucion</button>

        </form>
        <div class="container text-center mt-5">
            <span th:if="${resultado != null and resultado=='versicolor'}" th:text="${resultado}"
                class="rounded-pill bg-success  p-5 fw-bold " style="width:250px"></span>
            <span th:if="${resultado != null and resultado=='iris-setosa'}" th:text="${resultado}"
                class="rounded-pill bg-danger  p-5 fw-bold " style="width:250px"></span>
            <span th:if="${resultado != null and resultado=='No hay solucion'}" th:text="${resultado}"
                class="rounded-pill bg-secondary  p-5 fw-bold " style="width:250px"></span>
        </div>
        <div class="text-center mt-5">
            <br>
            <button type="button" id="calcula-todo-k-medias" class="btn btn-primary col-1">Calcular ejemplos por defecto</button>
            <div class="overflow-x-auto">
                <table class="table" id="tabla-ejemplos-k-medias">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th></th>
                            <th>X1</th>
                            <th>X2</th>
                            <th>X3</th>
                            <th>X4</th>
                            <th>Solucion Esperada</th>
                            <th>Solucion Real</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:if="${resultados != null}">
                        <!-- row 1 -->
                        <tr th:each=" res: ${resultados}" class="hover:bg-base-300" data-id="res.id">
                          <td th:text="'muestra ' + res.id">1</td>
                          <td th:text="res.x1">1</td>
                          <td th:text="res.x2">1</td>
                          <td th:text="res.x3">1</td>
                          <td th:text="res.x4">1</td>
                          <td th:text="res.sol">1</td>
                          <td class="sol-k-medias">1</td>
                        </tr>
                        
                    </div>
                    
                </tbody>
            </table>
            
        </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: foot}"></footer>
</body>

</html>